Community: {{model.name}} <br>
Submissions: <br>
<ul>
  {{#each submissions as |submission| }}
  <li> 
    {{submission.score}} - {{submission.title}} - {{submission.link}}
    <button {{action "upvote" submission}}> &#11014; </button>
    <button {{action "downvote" submission}}> &#11015; </button>
  </li>
  {{/each}}
</ul>
Submit a new link:
<form {{action "add_submission" on="submit"}}>
  title: {{input value=title type="text"}}
  link: {{input value=link type="text"}}
  <button type="submit">Submit Link</button>
</form>
