Community: {{model.name}} <br>
Submissions: <br>
<ul>
{{#each model.submissions as |submission| }}
<li {{action "acceptChanges" submission on="focusOut"}}>{{input value=submission.title }} {{submission.title}} - {{submission.link}}</li>
{{/each}}
</ul>
Submit a new link:
<form {{action "add_submission" on="submit"}}>
  title: {{input value=title type="text"}}
  link: {{input value=link type="text"}}
<button type="submit">Submit Link</button>
</form>
{{outlet}}
